/* RESET */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:century;
}


html,body{
    width:100%;
    overflow-x:hidden;
}


/* ========================= */
/* HEADER */
/* ========================= */

header{

    background-image:
    linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url(./image/vacance.jpg);

    width:100%;
    height:100vh;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    position:relative;
}


/* LOGO */

.logo a{

    color:#fff;

    padding:0 20px;

    border:1px solid #fff;

    position:absolute;

    top:10px;
    left:10px;

    text-transform:none;
    text-decoration:none;

    font-weight:900;

    text-shadow:0 0 10px rgba(0,0,0,0.7);

}


.logo span{

    color:rgb(255,56,11);

    font-weight:bold;

    font-size:2rem;

}


/* MENU */

ul{

    list-style:none;

    display:flex;

    justify-content:flex-end;

    gap:10px;

    padding-top:20px;

    padding-right:20px;

}


ul li a{

    text-decoration:none;

    color:white;

    padding:10px 20px;

    text-transform:uppercase;

    border:1px solid transparent;

    font-weight:500;

    transition:.6s;

}



ul li a:hover{

    background:white;
    color:black;

}



ul li.active a{

    background:white;
    color:black;

}



/* CONTENEUR */

.principale{

    width:100%;

    max-width:114rem;

    margin:auto;

}



/* TITRE */

.titre{

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    width:100%;

    text-align:center;

}



.titre h1{

    color:white;

    font-size:70px;

    margin-bottom: 200px; /* Espace en bas */

}



/* BOUTONS */


.bouton{

    position:absolute;

    top:60%;

    left:50%;

    transform:translate(-50%,-50%);

    display:flex;

    justify-content:center;

    gap:15px;

}



.bouton a{

    color:white;

    text-decoration:none;

    border:1px solid white;

    padding:10px 20px;

    margin-bottom: 5px; /* Espace en bas */

}


.btn{

    transition:.6s;

}


.btn:hover{

    background:white;

    color:black;

}


/* IMAGES */

img{

    max-width:100%;

    height:auto;

}



/* ========================= */
/* TABLETTE */
/* ========================= */


@media(max-width:1230px){


    .titre h1{

        font-size:55px;

    }


}




@media(max-width:1040px){


    ul li a{

        padding:8px 12px;

        font-size:14px;

    }



    .titre h1{

        font-size:45px;

    }



}




/* ========================= */
/* MOBILE */
/* ========================= */


@media(max-width:768px){


header{

    height:100vh;

}



.principale{

    display:flex;

    flex-direction:column;

    align-items:center;

    padding-top:80px;

}



/* LOGO */

.logo a{

    font-size:15px;

}



/* MENU */


ul{

    width:100%;

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    padding:0 10px;

    gap:5px;

}


ul li a{

    padding:8px 10px;

    font-size:12px;

}



/* TITRE */


.titre{

    top:45%;

}



.titre h1{

    font-size:clamp(30px,8vw,45px);

    padding:0 15px;

}



/* BOUTONS */


.bouton{

    top:65%;

    width:100%;

    flex-wrap:wrap;

}


.bouton a{

    font-size:14px;

    padding:10px 15px;

}



}




/* ========================= */
/* PETIT TELEPHONE */
/* ========================= */


@media(max-width:400px){


.logo a{

    font-size:13px;

}



ul li a{

    font-size:10px;

    padding:7px;

}



.titre{

    top:45%;

}



.titre h1{

    font-size:28px;

}



.bouton{

    top:70%;

    flex-direction:column;

    align-items:center;

}



.bouton a{

    width:150px;

    text-align:center;

}



}

/****************************************************************************************************************/

/* ========================= */
/* MENU BURGER */
/* ========================= */

#check {
    display: none;
}

.burger {
    display: none;
    font-size: 35px;
    color: rgb(227, 40, 40);
    cursor: pointer;
    z-index: 1000;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width:900px) {

    .principale {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: relative;
    }

    /* Le logo reste à gauche */
    .logo {
        flex: 1;
    }

    /* Le burger est à droite */
    .burger {
        display: block;
        margin-left: auto;
    }

    /* Menu déroulant */
    ul {
        position: absolute;
        top: 70px;
        right: 20px;
        /* Affiché à droite */
        left: auto;
        /* Annule le left:0 */
        width: 220px;
        background: rgba(0, 0, 0, 0.95);
        border-radius: 10px;
        z-index: 10;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    /* Affiche le menu */
    #check:checked~ul {
        display: flex;
    }

    ul li {
        width: 100%;
        text-align: center;
        margin: 8px 0;
    }

    ul li a {
        display: block;
        font-size: 18px;
        padding: 10px;
    }

    .titre {
        width: 100%;
        text-align: center;
    }

    .titre h1 {
        font-size: 40px;
    }

    .bouton {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}


/****************************************************************************************************************/

/*  */



body {
    background: #f5f5f5;
}


/* TITRES */


h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
    color: #4682be;
}

h2 {
    text-align: center;
    margin-top: 100px;
    color: #010e60;
    font-size: 30px;

}

.voyageTITRE {
    text-align: center;
    margin-top: 100px;
    color: #010e60;
    font-size: 30px;
    position: relative;
    top: 200px;
    /* Décale la section vers le bas */


}

/* DESCRIPTION */

h3:first-of-type {

    width: 80%;
    margin: 30px auto 6px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: normal;
    color: #000000;

}




/* ................................................BLOG................................................................ */



/* ========================= */
/* BLOG */
/* ========================= */


.blog{

    width:85%;
    margin:80px auto;

}



/* TITRE */

.blog-title{

    text-align:center;
    margin-bottom:50px;

}


.blog-title h1{

    font-size:38px;
    color:#010e60;
    margin-bottom:15px;

}


.blog-title p{

    font-size:17px;
    color:#666;
    line-height:28px;

}





/* CONTENEUR DES CARTES */

.blog-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

}






/* CARTE */

.blog-card{

    background:white;

    border-radius:15px;

    overflow:hidden;

    transition:.3s;

}



.blog-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 30px rgba(0,0,0,0.15);

}







/* IMAGE */

.blog-image{

    position:relative;

}


.blog-image img{

    width:100%;

    height:220px;

    object-fit:cover;

    border-radius:15px;

}




/* DATE */

.date{

    position:absolute;

    top:15px;

    left:15px;

    background:white;

    padding:8px 18px;

    border-radius:25px;

    font-size:14px;

    font-weight:bold;

    color:#333;

}






/* CONTENU */

.blog-info{

    padding:18px;

}





/* COMMENTAIRE */

.author{

    display:flex;

    align-items:center;

    gap:8px;

    color:#555;

    font-size:14px;

}


.author p{

    margin:0;

}





/* TITRE ARTICLE */

.blog-info h2{

    text-align:left;

    margin:18px 0;

    font-size:21px;

    line-height:28px;

    color:#12345b;

}






/* DESCRIPTION */

.description{

    color:#666;

    font-size:15px;

    line-height:25px;

}





/* BOUTON */

.read-more{

    margin-top:20px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    width:160px;

    padding:10px 15px;

    background:#005bea;   /* BLEU */

    color:white;

    text-decoration:none;

    border-radius:30px;

    font-size:15px;

    font-weight:bold;

    transition:.3s;

}




.read-more:hover{

    background:#010e60;

}





.read-more span{

    background:white;

    color:#005bea;

    width:30px;

    height:30px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

}





/* ========================= */
/* TABLETTE */
/* ========================= */


@media(max-width:1000px){


    .blog-container{

        grid-template-columns:repeat(2,1fr);

    }


}





/* ========================= */
/* TELEPHONE */
/* ========================= */


@media(max-width:650px){


    .blog{

        width:95%;

    }


    .blog-container{

        grid-template-columns:1fr;

    }


    .blog-title h1{

        font-size:30px;

    }


}



/* ................................................FOOTER................................................................ */

/* ========================= */
/* FOOTER  */
/* ========================= */


footer{
    width:100%;
    overflow:hidden;
    background:white;
    padding:60px 0;
}


.footer-container{

    width:90%;

    max-width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:40px;

}



/* LOGO FOOTER */

.footer-logo{

    flex:1;

    text-align:center;

}


.footer-logo img{

    width:250px;
    height:250px;
    max-width:100%;
    object-fit:cover;
    border-radius:50%;

}



/* MENU FOOTER */

.footer-menu{

    flex:2;

    display:flex !important;

    flex-direction:row !important;

    justify-content:center;

    align-items:flex-start;

    gap:70px;

    flex-wrap:wrap;

}





.footer-menu ul{

    list-style:none;

    display:flex !important;

    flex-direction:column !important;

    justify-content:flex-start !important;

    align-items:flex-start !important;

    gap:12px;

    padding:0 !important;

    margin:0 !important;

    width:auto;

    position:static !important;

    background:none !important;

}



.footer-menu li{

    width:auto;

    display:block;

}



.footer-menu a{

    display:block;

    text-decoration:none;

    color:#222;

    font-size:18px;

    text-transform:uppercase;

    white-space:nowrap;

    transition:.3s;

}



.footer-menu a:hover{

    color:#0077cc;

}



/* ========================= */
/* ECRAN MOYEN 1000px */
/* ========================= */


@media(max-width:1000px){


    .footer-container{

        justify-content:center;

    }


    .footer-menu{

        width:100%;

        justify-content:center;

        gap:50px;

    }


}



/* ========================= */
/* TABLETTE 768px */
/* ========================= */


@media(max-width:768px){


    .footer-container{

        flex-direction:column;

        text-align:center;

        gap:40px;

    }


    .footer-menu{

        width:100%;

        flex-direction:column !important;

        align-items:center;

        gap:25px;

    }


    .footer-menu ul{

        align-items:center !important;

        text-align:center;

    }


    .footer-menu a{

        font-size:16px;

    }


}



/* ========================= */
/* PETIT TELEPHONE 480px */
/* ========================= */


@media(max-width:480px){


    footer{

        padding:40px 15px;

    }


    .footer-container{

        width:100%;

    }


    .footer-logo img{

        width:130px;

    }


    .footer-menu a{

        font-size:14px;

    }


}
