/* RESET */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:century;
}


html,body{
    width:100%;
    overflow-x:hidden;
}


/* ========================= */
/* HEADER */
/* ========================= */

header{

    background-image:
    linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url(./image/vacance.jpg);

    width:100%;
    height:100vh;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    position:relative;
}


/* LOGO */

.logo a{

    color:#fff;

    padding:0 20px;

    border:1px solid #fff;

    position:absolute;

    top:10px;
    left:10px;

    text-transform:none;
    text-decoration:none;

    font-weight:900;

    text-shadow:0 0 10px rgba(0,0,0,0.7);

}


.logo span{

    color:rgb(255,56,11);

    font-weight:bold;

    font-size:2rem;

}


/* MENU */

ul{

    list-style:none;

    display:flex;

    justify-content:flex-end;

    gap:10px;

    padding-top:20px;

    padding-right:20px;

}


ul li a{

    text-decoration:none;

    color:white;

    padding:10px 20px;

    text-transform:uppercase;

    border:1px solid transparent;

    font-weight:500;

    transition:.6s;

}



ul li a:hover{

    background:white;
    color:black;

}



ul li.active a{

    background:white;
    color:black;

}



/* CONTENEUR */

.principale{

    width:100%;

    max-width:114rem;

    margin:auto;

}



/* TITRE */

.titre{

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    width:100%;

    text-align:center;

}



.titre h1{

    color:white;

    font-size:70px;

    margin-bottom: 200px; /* Espace en bas */

}



/* BOUTONS */


.bouton{

    position:absolute;

    top:60%;

    left:50%;

    transform:translate(-50%,-50%);

    display:flex;

    justify-content:center;

    gap:15px;

}



.bouton a{

    color:white;

    text-decoration:none;

    border:1px solid white;

    padding:10px 20px;

    margin-bottom: 5px; /* Espace en bas */

}


.btn{

    transition:.6s;

}


.btn:hover{

    background:white;

    color:black;

}


/* IMAGES */

img{

    max-width:100%;

    height:auto;

}



/* ========================= */
/* TABLETTE */
/* ========================= */


@media(max-width:1230px){


    .titre h1{

        font-size:55px;

    }


}




@media(max-width:1040px){


    ul li a{

        padding:8px 12px;

        font-size:14px;

    }



    .titre h1{

        font-size:45px;

    }



}




/* ========================= */
/* MOBILE */
/* ========================= */


@media(max-width:768px){


header{

    height:100vh;

}



.principale{

    display:flex;

    flex-direction:column;

    align-items:center;

    padding-top:80px;

}



/* LOGO */

.logo a{

    font-size:15px;

}



/* MENU */


ul{

    width:100%;

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    padding:0 10px;

    gap:5px;

}


ul li a{

    padding:8px 10px;

    font-size:12px;

}



/* TITRE */


.titre{

    top:45%;

}



.titre h1{

    font-size:clamp(30px,8vw,45px);

    padding:0 15px;

}



/* BOUTONS */


.bouton{

    top:65%;

    width:100%;

    flex-wrap:wrap;

}


.bouton a{

    font-size:14px;

    padding:10px 15px;

}



}




/* ========================= */
/* PETIT TELEPHONE */
/* ========================= */


@media(max-width:400px){


.logo a{

    font-size:13px;

}



ul li a{

    font-size:10px;

    padding:7px;

}



.titre{

    top:45%;

}



.titre h1{

    font-size:28px;

}



.bouton{

    top:70%;

    flex-direction:column;

    align-items:center;

}



.bouton a{

    width:150px;

    text-align:center;

}



}

/****************************************************************************************************************/

/* ========================= */
/* MENU BURGER */
/* ========================= */

#check {
    display: none;
}

.burger {
    display: none;
    font-size: 35px;
    color: rgb(227, 40, 40);
    cursor: pointer;
    z-index: 1000;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width:900px) {

    .principale {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: relative;
    }

    /* Le logo reste à gauche */
    .logo {
        flex: 1;
    }

    /* Le burger est à droite */
    .burger {
        display: block;
        margin-left: auto;
    }

    /* Menu déroulant */
    ul {
        position: absolute;
        top: 70px;
        right: 20px;
        /* Affiché à droite */
        left: auto;
        /* Annule le left:0 */
        width: 220px;
        background: rgba(0, 0, 0, 0.95);
        border-radius: 10px;
        z-index: 10;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    /* Affiche le menu */
    #check:checked~ul {
        display: flex;
    }

    ul li {
        width: 100%;
        text-align: center;
        margin: 8px 0;
    }

    ul li a {
        display: block;
        font-size: 18px;
        padding: 10px;
    }

    .titre {
        width: 100%;
        text-align: center;
    }

    .titre h1 {
        font-size: 40px;
    }

    .bouton {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}

/****************************************************************************************************************/

/*  */



body {
    background: #f5f5f5;
}


/* TITRES */


h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
    color: #4682be;
}

h2 {
    text-align: center;
    margin-top: 100px;
    color: #010e60;
    font-size: 30px;

}

.voyageTITRE {
    text-align: center;
    margin-top: 100px;
    color: #010e60;
    font-size: 30px;
    position: relative;
    top: 200px;
    /* Décale la section vers le bas */


}

/* DESCRIPTION */

h3:first-of-type {

    width: 80%;
    margin: 30px auto 6px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: normal;
    color: #000000;

}


/* CARTES */


.cartes {

    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-between;
    row-gap: 55px;

}


/* UNE CARTE */

.carte {

    width: 250px;

    background: white;

    border-radius: 8px;

    box-shadow: 0px 8px 20px rgba(0, 0, 0, .2);

    text-align: center;

    padding-bottom: 20px;

    transition: .4s;



}

.carte:hover {

    transform: translateY(-8px);

}


/* IMAGE */


.carte img {

    width: 100%;

    height: 180px;

    object-fit: cover;

    border-radius: 8px 8px 0 0;

}


/* TITRE DE LA CARTE */


.carte h3 {

    margin-top: 20px;

    color: #003366;

    font-size: 24px;

}


/* TEXTE */


.carte p {

    padding: 15px;

    line-height: 20px;

    color: #555;

}



.cartesF {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}



.carte {
    width: 100%;
    max-width: 300px;
    margin: auto;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    border-radius: 8px;
    text-align: center;
}

.carte img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

@media (max-width:700px) {

    .cartes {
        grid-template-columns: 1fr;
    }

}


/*.......................................................................*/


/* SECTION VOYAGE */

.voyage {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 200%;
    max-width: 1000px;
    margin: 50px auto;
    margin-top: 300px;
}

.texte-voyage p {
    font-size: 20px;
    /* Réduit la taille du texte */
    line-height: 1.5;
    /* Réduit l'espacement entre les lignes */
    max-width: 1050px;
    /* Limite la largeur du paragraphe */
    padding: 2px;
    /* Ajoute un petit espace intérieur */
    margin: 20px auto;
    /* Centre et réduit les marges */
    text-align: justify;
    /* Justifie le texte pour un rendu propre */
    margin-right: 20px
}

.img-voyage img {
    margin-left: 40px
}

.texte-voyage h2 {
    margin-top: 10px
}

/* ....................................................................................... */

/* FORMULAIRE */ 

.contact {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 100px;
    margin-left: 510px;
    border-radius: 9px;
    font-size: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

/* ========================= */
/* RESPONSIVE FORMULAIRE */
/* ========================= */


/* Ecran moyen (tablette et petit ordinateur) */
@media(max-width:1200px){

    .contact{

        margin-left:auto;
        margin-right:auto;

        width:90%;
        max-width:500px;

    }

}



/* Tablette */
@media(max-width:768px){

    .contact{

        margin-left:auto;
        margin-right:auto;

        width:90%;

        padding:20px;

        font-size:17px;

    }

}



/* Téléphone */
@media(max-width:480px){

    .contact{

        width:95%;

        padding:15px;

        font-size:15px;

        margin-top:50px;

    }


}


/* ....................................................................................... */

/* ========================= */
/* SECTION VOYAGE */
/* ========================= */


.voyage{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:40px;

    width:90%;

    max-width:1200px;

    margin:auto;

}


.texte-voyage{

    flex:1;

}


.img-voyage{

    flex:1;

}


.img-voyage img{

    width:100%;

    max-width:500px;

    height:auto;

    display:block;

    object-fit:cover;

}



/* ========================= */
/* ECRAN MOYEN */
/* ========================= */


@media(max-width:1200px){


    .voyage{

        gap:30px;

    }


    .texte-voyage h2{

        font-size:32px;

    }


    .texte-voyage p{

        font-size:18px;

    }


}



/* ========================= */
/* TABLETTE */
/* ========================= */


@media(max-width:992px){


    .voyage{

        gap:20px;

        width:95%;

    }


    .texte-voyage h2{

        font-size:28px;

    }


    .texte-voyage p{

        font-size:16px;
        

    }


    .img-voyage img{

        max-width:400px;

    }


}



/* ========================= */
/* TELEPHONE */
/* ========================= */


@media(max-width:600px){


    .voyage{

        display:flex;

        flex-direction:column;

        align-items:center;

        gap:20px;

        width:100%;

    }


    .texte-voyage{

        width:90%;

        text-align:center;

    }


    .texte-voyage h2{

        font-size:22px;

    }


    .texte-voyage p{

        font-size:14px;

        text-align:justify;

    }


    .img-voyage{

        width:90%;

        display:flex;

        justify-content:center;

    }


    .img-voyage img{

        width:100%;

        max-width:3500px;

        height:auto;

        margin-left: 10px;

    }


}

.voyageTITRE {
    text-align: center;
    color: #010e60;
    font-size: 30px;
    margin-top: 100px;
    position: relative;
    top: 0; /* enlève le déplacement */
}


/****************************************************************************************************************/



/* ========================= */
/* FOOTER */
/* ========================= */

footer {
    width: 100%;
    background: #fff;
    border-top: 2px solid #d9d9d9;
    padding: 60px 20px;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-logo {
    flex: 1;
    text-align: center;
}

.footer-logo img {
    width: 220px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.footer-menu {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-menu a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
    text-transform: uppercase;
    transition: .3s;
}

.footer-menu a:hover {
    color: #0077cc;
}

/* ========================= */
/* RESPONSIVE FOOTER */
/* ========================= */


/* Ordinateur portable */
@media(max-width:1000px){

    .footer-container{

        gap:30px;

    }


    .footer-logo img{

        width:180px;

    }


    .footer-menu{

        gap:40px;

    }


    .footer-menu ul{

        padding-top:0;
        justify-content:flex-start;

    }

}



/* Tablette */
@media(max-width:768px){


    .footer-container{

        flex-direction:column;

        justify-content:center;

        align-items:center;

        text-align:center;

        width:90%;

        gap:40px;

    }



    .footer-logo{

        width:100%;

    }



    .footer-logo img{

        width:160px;

    }



    .footer-menu{

        width:100%;

        flex-direction:column;

        justify-content:center;

        align-items:center;

        gap:25px;

    }



    .footer-menu ul{

        width:100%;

        display:flex;

        flex-direction:column;

        align-items:center;

        justify-content:center;

        padding:0;

        margin:0;

        gap:12px;

    }



    .footer-menu a{

        font-size:16px;

    }


}



/* Téléphone */
@media(max-width:480px){


    footer{

        padding:40px 10px;

    }



    .footer-container{

        width:100%;

    }



    .footer-logo img{

        width:130px;

    }



    .footer-menu{

        gap:20px;

    }



    .footer-menu a{

        font-size:14px;

    }



}

/* ========================= */
/* FOOTER  */
/* ========================= */


footer{
    width:100%;
    overflow:hidden;
}



.footer-container{

    width:90%;

    max-width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:40px;

}



/* LOGO FOOTER */

.footer-logo{

    flex:1;

    text-align:center;

}


.footer-logo img{

    width:220px;

    max-width:100%;

    height:auto;

}



/* MENU FOOTER */

.footer-menu{

    flex:2;

    display:flex !important;

    flex-direction:row !important;

    justify-content:center;

    align-items:flex-start;

    gap:70px;

    flex-wrap:wrap;

}





.footer-menu ul{

    list-style:none;

    display:flex !important;

    flex-direction:column !important;

    justify-content:flex-start !important;

    align-items:flex-start !important;

    gap:12px;

    padding:0 !important;

    margin:0 !important;

    width:auto;

    position:static !important;

    background:none !important;

}



.footer-menu li{

    width:auto;

    display:block;

}



.footer-menu a{

    display:block;

    text-decoration:none;

    color:#222;

    font-size:18px;

    text-transform:uppercase;

    white-space:nowrap;

    transition:.3s;

}



.footer-menu a:hover{

    color:#0077cc;

}



/* ========================= */
/* ECRAN MOYEN 1000px */
/* ========================= */


@media(max-width:1000px){


    .footer-container{

        justify-content:center;

    }


    .footer-menu{

        width:100%;

        justify-content:center;

        gap:50px;

    }


}



/* ========================= */
/* TABLETTE 768px */
/* ========================= */


@media(max-width:768px){


    .footer-container{

        flex-direction:column;

        text-align:center;

        gap:40px;

    }


    .footer-menu{

        width:100%;

        flex-direction:column !important;

        align-items:center;

        gap:25px;

    }


    .footer-menu ul{

        align-items:center !important;

        text-align:center;

    }


    .footer-menu a{

        font-size:16px;

    }


}



/* ========================= */
/* PETIT TELEPHONE 480px */
/* ========================= */


@media(max-width:480px){


    footer{

        padding:40px 15px;

    }


    .footer-container{

        width:100%;

    }


    .footer-logo img{

        width:130px;

    }


    .footer-menu a{

        font-size:14px;

    }


}